* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    @media (max-width: 768px) {
        overflow: auto;
        height: auto;
    }
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f3f5fc;
    display: flex;
    padding: 40px;
    gap: 20px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    .section-heading {
        flex: 100px 0;
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            flex: 0;
            margin-left: -50px;
        }
        .section-heading-logo {
            width: 150px;
        }
    }
    .section-content {
        flex: auto;
        padding: 20px 10%;
        @media (max-width: 768px) {
            padding: 20px 2%;
        }
        .section-content-text {
            font-size: 32px;
            font-weight: regular;
            color: #0A3871;
        }
    }
    .section-footer {
        display: flex;
        flex-direction: column;
        gap:8px;
        margin-bottom: 40px;
        .section-footer-message {
            display: flex;
            align-items: center;
            gap: 8px;
            .section-footer-message-icon {
                width: 16px;
                height: 16px;
            }
            .section-footer-message-text {
                font-size: 12;
                color: #495057;
            }
        }
        .section-footer-actions {
            display: flex;
            gap: 20px;
            @media (max-width: 400px) {
                flex-direction: column;
            }
        }
    }
}

aside {
    background-color: #ffffff;
    flex: 400px 0;
    border-radius: 32px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    @media (max-width: 768px) {
        flex: 0;
    }
    .aside-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        width: 300px;
        @media (max-width: 768px) {
            width: 100%;
            img {
                display: none;
            }
            h1 {
                margin-bottom: 0;
            }
        }
        h1 {
            color: #343A40;
            font-size:24px;
        }
        p {
            color: #495057;
            font-size:16px;
        }
    }
}


.btn {
    width: 100%;
    border-radius: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #0A3871;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    &.btn-primary {
        background-color: #0A3871;
        color: #ffffff
    }
    &.btn-secondary {
        background-color: #D8DFE8;
        color: #0A3871;
    }
}